body {
    --panel-color: rgba(176, 196, 222, 0.75);
    --field-color: rgba(255, 255, 255, 0.8);
    --text-color: rgba(106, 90, 205, 0.8);
    --text-color-hover: rgba(60, 179, 113, 0.75);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition-delay: 9999s;
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
    -webkit-text-fill-color: var(--text-color-hover) !important;
}

.container {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    align-content: center;
}
.container .panel-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-group-addon {
    position: absolute;
    width: auto;
    height: 100%;
    background-color: var(--text-color);
    border: none;
    border-radius: 0;
}

.glyphicon {
    color: var(--text-color);
}

.panel-body {
    background-color: var(--panel-color);
    width: 50%;
}

.border-radius-none {
    border-radius: 0;
}

.input-group {
    width: 100%;
}

.btn {
    background-color: var(--field-color);
    color: var(--text-color);
    font-weight: bold;
    border-radius: 0;
}

.btn:hover {
    color: var(--text-color-hover);
}

.field {
    background-color: var(--field-color);
    color: var(--text-color);
    text-align: center;
    font-weight: bold;
    border: none;
    border-radius: 0;
}

#link-icon {
    z-index: 3;
    position: absolute;
}

#link-icon:hover {
    background-color: rgba(60, 179, 113, 0.8);
}

input::-webkit-input-placeholder {
    color: var(--text-color) !important;
}

input:-moz-placeholder { /* Firefox 18- */
    color: var(--text-color) !important;
}

input::-moz-placeholder { /* Firefox 19+ */
    color: var(--text-color) !important;
}

input:-ms-input-placeholder {
    color: var(--text-color) !important;
}


/* Clear floats after the columns */
.section{
    background: none;
    font-size: 35px;
    top: 90px;
    left: 120px;
}

header {
    padding: 4px;
    text-align: justify;
    font-size: 35px;
    color: black;
    position: initial;
}

